@{
    ViewBag.Title = "Receipt";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}

<h2>Receipt</h2>

<form id="form1" action="" method="post">
    
    <div id="ContentPlaceHolder1_Panel1">
        <div>
            <table cellspacing="0" cellpadding="4" style="color:#333333;height:155px;width:895px;border-collapse:collapse;" id="ContentPlaceHolder1_ctl00_GridView1" class="table">
                <tbody>
                    <tr style="color:White;background-color:#428BCA;font-weight:bold;">
                        <th scope="col">ID</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Active</th>
                        <th scope="col">Hot</th>
                        <th scope="col">Price</th>
                        <th scope="col">Xuất xứ</th>
                        <th scope="col">Key Search</th>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><img style="height:30px;width:30px;" src="UpLoad/Images/01.jpg"></td>
                        <td>Bưởi Da Xanh</td>
                        <td><span class="aspNetDisabled"><input type="checkbox" disabled="disabled" checked="checked" name="ctl00$ContentPlaceHolder1$ctl00$GridView1$ctl02$ctl02" id="ContentPlaceHolder1_ctl00_GridView1_ctl02_0"></span></td>
                        <td><span class="aspNetDisabled"><input type="checkbox" disabled="disabled" checked="checked" name="ctl00$ContentPlaceHolder1$ctl00$GridView1$ctl02$ctl03" id="ContentPlaceHolder1_ctl00_GridView1_ctl03_0"></span></td>
                        <td>25.000 VND/Kg</td>
                        <td>Vinh Long</td>
                        <td>buoi da xanh, buoi, da xanh</td>
                        <td><a href="Admin.aspx?module=6&amp;m=1&amp;Id=1">View Detail</a></td>
                        <td style="width:60px;"><a style="color:#333333;" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$ctl00$GridView1','Delete$0')" onclick="return confirm('Do you want to delete?');">Delete</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><span style="display:inline-block;height:30px;width:30px;"></span></td>
                        <td>Xoài Cát Hòa Lộc</td>
                        <td><span class="aspNetDisabled"><input type="checkbox" disabled="disabled" checked="checked" name="ctl00$ContentPlaceHolder1$ctl00$GridView1$ctl03$ctl02" id="ContentPlaceHolder1_ctl00_GridView1_ctl02_1"></span></td>
                        <td><span class="aspNetDisabled"><input type="checkbox" disabled="disabled" checked="checked" name="ctl00$ContentPlaceHolder1$ctl00$GridView1$ctl03$ctl03" id="ContentPlaceHolder1_ctl00_GridView1_ctl03_1"></span></td>
                        <td>25.000 VND/Kg</td>
                        <td>Vinh Long</td>
                        <td>Xoai, Hoa Loc</td>
                        <td><a href="Admin.aspx?module=6&amp;m=1&amp;Id=2">View Detail</a></td>
                        <td style="width:60px;"><a style="color:#333333;" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$ctl00$GridView1','Delete$1')" onclick="return confirm('Do you want to delete?');">Delete</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><img style="height:30px;width:30px;" src="UpLoad/Images/03.jpg"></td>
                        <td>Cam Khe Mây</td>
                        <td><span class="aspNetDisabled"><input type="checkbox" disabled="disabled" checked="checked" name="ctl00$ContentPlaceHolder1$ctl00$GridView1$ctl04$ctl02" id="ContentPlaceHolder1_ctl00_GridView1_ctl02_2"></span></td>
                        <td><span class="aspNetDisabled"><input type="checkbox" disabled="disabled" checked="checked" name="ctl00$ContentPlaceHolder1$ctl00$GridView1$ctl04$ctl03" id="ContentPlaceHolder1_ctl00_GridView1_ctl03_2"></span></td>
                        <td>25.000 VND/Kg</td>
                        <td>Vinh Long</td>
                        <td>Cam, Khe May</td>
                        <td><a href="Admin.aspx?module=6&amp;m=1&amp;Id=3">View Detail</a></td>
                        <td style="width:60px;"><a style="color:#333333;" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$ctl00$GridView1','Delete$2')" onclick="return confirm('Do you want to delete?');">Delete</a></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><span style="display:inline-block;height:30px;width:30px;"></span></td>
                        <td>Ối Sữa Đài Loan</td>
                        <td><span class="aspNetDisabled"><input type="checkbox" disabled="disabled" checked="checked" name="ctl00$ContentPlaceHolder1$ctl00$GridView1$ctl05$ctl02" id="ContentPlaceHolder1_ctl00_GridView1_ctl02_3"></span></td>
                        <td><span class="aspNetDisabled"><input type="checkbox" disabled="disabled" checked="checked" name="ctl00$ContentPlaceHolder1$ctl00$GridView1$ctl05$ctl03" id="ContentPlaceHolder1_ctl00_GridView1_ctl03_3"></span></td>
                        <td>25.000 VND/Kg</td>
                        <td>Vinh Long</td>
                        <td>Oi</td>
                        <td><a href="Admin.aspx?module=6&amp;m=1&amp;Id=4">View Detail</a></td>
                        <td style="width:60px;"><a style="color:#333333;" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$ctl00$GridView1','Delete$3')" onclick="return confirm('Do you want to delete?');">Delete</a></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><span style="display:inline-block;height:30px;width:30px;"></span></td>
                        <td>Ổi Sữa Lò Rèn</td>
                        <td><span class="aspNetDisabled"><input type="checkbox" disabled="disabled" checked="checked" name="ctl00$ContentPlaceHolder1$ctl00$GridView1$ctl06$ctl02" id="ContentPlaceHolder1_ctl00_GridView1_ctl02_4"></span></td>
                        <td><span class="aspNetDisabled"><input type="checkbox" disabled="disabled" checked="checked" name="ctl00$ContentPlaceHolder1$ctl00$GridView1$ctl06$ctl03" id="ContentPlaceHolder1_ctl00_GridView1_ctl03_4"></span></td>
                        <td>25.000 VND/Kg</td>
                        <td>Vinh Long</td>
                        <td>Oi</td>
                        <td><a href="Admin.aspx?module=6&amp;m=1&amp;Id=5">View Detail</a></td>
                        <td style="width:60px;"><a style="color:#333333;" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$ctl00$GridView1','Delete$4')" onclick="return confirm('Do you want to delete?');">Delete</a></td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td><img style="height:30px;width:30px;" src="UpLoad/Images/08.jpg"></td>
                        <td>Chuối Tiêu</td>
                        <td><span class="aspNetDisabled"><input type="checkbox" disabled="disabled" checked="checked" name="ctl00$ContentPlaceHolder1$ctl00$GridView1$ctl07$ctl02" id="ContentPlaceHolder1_ctl00_GridView1_ctl02_5"></span></td>
                        <td><span class="aspNetDisabled"><input type="checkbox" disabled="disabled" name="ctl00$ContentPlaceHolder1$ctl00$GridView1$ctl07$ctl03" id="ContentPlaceHolder1_ctl00_GridView1_ctl03_5"></span></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><a href="Admin.aspx?module=6&amp;m=1&amp;Id=9">View Detail</a></td>
                        <td style="width:60px;"><a style="color:#333333;" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$ctl00$GridView1','Delete$5')" onclick="return confirm('Do you want to delete?');">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <input type="submit" style="width:80px;" id="ContentPlaceHolder1_ctl00_btnAddNew" value="Add New" name="ctl00$ContentPlaceHolder1$ctl00$btnAddNew">
    </div>

</form>