html {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
}
* {
    font-family: "Segoe UI",Tahoma,Verdana,Arial;
}
body {
    background: #def6dd url("../img/bgcc.png") repeat-x scroll center top;
    margin: 0;
    padding: 0;
    text-align: center;
}
body, td, th, input, textarea, select, a {
    font-size: 12px;
}
form {
    display: inline;
    margin: 0;
    padding: 0;
}
input, textarea, select {
    margin: 3px 0;
}
a, a:visited {
    color: #097104;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a img {
    border: medium none;
}
p {
    margin-top: 0;
}
#container {
    background: #def6dd none repeat scroll 0 0;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 1000px;
}
#header .div2 {
    float: left;
    margin-bottom: -3px;
}
#header .div3 {
    float: right;
    height: 38px;
    padding-right: 10px;
    padding-top: 7px;
}
#header .div3 a {
    background-position: left center;
    background-repeat: no-repeat;
    margin-left: 5px;
    padding: 1px 0 2px;
}
#header .div4 {
    clear: right;
    float: right;
    height: 32px;
}
#header .div4 a {
    float: left;
    font-size: 14px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 1;
}
#header .div4 a.selected {
    background: rgba(0, 0, 0, 0) url("../image/tab_2.png") no-repeat scroll 0 0;
    color: #fff;
    padding-bottom: 10px;
    z-index: 3;
}
#header .div5 {
    clear: both;
}
#header .div5 .left {
    float: left;
    height: 10px;
    width: 5px;
}
#header .div5 .right {
    float: right;
    height: 10px;
    width: 5px;
}
#header .div5 .center {
    height: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
#header .div6 {
    clear: both;
    margin-bottom: 8px;
}
#header .div6 .left {
    float: left;
    height: 32px;
    width: 5px;
}
#header .div6 .right {
    float: right;
    height: 32px;
    width: 5px;
}
#header .div6 .center {
    height: 32px;
}
#header .div7 {
    float: right;
    padding-top: 2px;
}
#header .div8 {
    float: left;
    margin-top: 6px;
}
#header .div9 {
    float: left;
}
#header .div10 {
    float: left;
    margin-top: 2px;
}
#search {
    color: #fff;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 7px;
}
#search select {
    border: 1px solid #0a5391;
    padding: 1px;
}
#search a {
    color: #fff;
}
#search input {
    border: 1px solid #0a5391;
    padding: 2px;
}
#breadcrumb {
    color: #666;
    float: left;
    height: 13px;
    margin-bottom: 10px;
    padding-bottom: 11px;
    padding-top: 7px;
}
#breadcrumb a {
    color: #666;
    text-decoration: none;
}
.switcher {
    float: right;
    margin-left: 10px;
}
.switcher a {
    display: block;
    text-decoration: none;
}
.switcher .selected {
    background: #ffffff url("../image/switcher.png") repeat-x scroll 0 0;
}
.switcher .selected a {
    background: rgba(0, 0, 0, 0) url("../image/arrow_down.png") no-repeat scroll 116px center;
    border: 1px solid #cccccc;
    color: #666666;
    padding: 2px 5px;
    width: 121px;
}
.switcher .selected a:hover {
    background: #f0f0f0 url("../image/arrow_down.png") no-repeat scroll 116px center;
}
.switcher .option {
    background-color: #eeeeee;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    display: none;
    position: absolute;
    width: 131px;
    z-index: 3;
}
.switcher .option a {
    color: #000;
    padding: 3px 5px;
}
.switcher .option a:hover {
    background: #ffc none repeat scroll 0 0;
}
.switcher img {
    position: relative;
    top: 1px;
}
#column_left {
    clear: left;
    float: left;
    margin-right: 10px;
    width: 204px;
}
#column_right {
    clear: right;
    float: right;
    margin-left: 10px;
    width: 204px;
}
#content {
    margin-bottom: 10px;
    margin-left: 214px;
    margin-right: 214px;
}
#content .top .left {
    float: left;
}
#content .top .right {
    float: right;
}
#content .top .center {
    background: rgba(0, 0, 0, 0) url("../img/bg-tab-home.png") no-repeat scroll 0 0;
    height: 40px;
    width: 100%;
}
#content .top h1, .heading {
    padding: 8px 0 8px 45px;
}
#content h1, .heading {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}
#content .middle {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #097104;
    border-radius: 7px;
    float: left;
    min-height: 30px;
    padding: 10px 27px 1px;
}
#content .special {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #097104;
    border-radius: 7px;
  
    min-height: 30px;
    padding: 10px 27px 1px;
}
#content .bottom .left {
    float: left;
}
#content .bottom .right {
    float: right;
}
#content .bottom .center {
}
.box {
    background: rgba(0, 0, 0, 0) url("../img/bg-tab.png") no-repeat scroll 0 0;
    margin-bottom: 10px;
}
.box .top {
    color: #fff;
    font-size: 15px;
    height: 44px;
    padding: 16px 0 0;
    text-align: center;
}
.box .top img {
    display: none;
    float: left;
    margin-right: 5px;
}
.box .middle {
    background: #1d81bc none repeat scroll 0 0;
    border-radius: 0 0 7px 7px;
    color: #fff;
    margin-left: 5px;
    padding: 10px;
    width: 194px;
}
.box .middle a {
    color: #fff;
}
.box .bottom {
    background: rgba(0, 0, 0, 0) url("../img/bgboxduoi.png") no-repeat scroll 0 0;
    height: 9px;
}
.success {
    background: #e4f1c9 none repeat scroll 0 0;
    border: 1px solid #a5bd71;
    font-size: 11px;
    margin-bottom: 10px;
    padding: 5px 0;
    text-align: center;
}
.warning {
    background: #ffdfe0 none repeat scroll 0 0;
    border: 1px solid #ff9999;
    font-size: 11px;
    margin-bottom: 10px;
    padding: 5px 0;
    text-align: center;
}
.wait {
    background: #fbfaea none repeat scroll 0 0;
    border: 1px solid #efebaa;
    font-size: 11px;
    margin-bottom: 10px;
    padding: 5px 0;
    text-align: center;
}
.required {
    color: #ff0000;
    font-weight: bold;
}
.error {
    color: #ff0000;
    display: block;
}
.help {
    cursor: pointer;
}
.tooltip {
    background: #fbff95 none repeat scroll 0 0;
    border: 1px solid #fdda5c;
    font-size: 11px;
    padding: 5px;
    width: 250px;
}
.clear {
    overflow: hidden;
    width: 100%;
}
.button {
    background: rgba(0, 0, 0, 0) url("../img/button_left.png") no-repeat scroll left top;
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    padding-left: 8px;
    text-decoration: none;
}
.button span {
    background: rgba(0, 0, 0, 0) url("../img/button_right.png") no-repeat scroll right top;
    color: #fff;
    display: block;
    padding: 4px 12px 5px 5px;
}
.buttons {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #dddddd;
    margin-bottom: 10px;
    padding: 5px;
}
.buttons input {
    margin: 0;
    padding: 0;
}
.buttons table {
    border-collapse: collapse;
    width: 100%;
}
.buttons table td {
    vertical-align: middle;
}
.content {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #dddddd;
    margin-bottom: 10px;
    margin-top: 3px;
    padding: 10px;
}
.list {
    margin-bottom: 10px;
    width: 100%;
}
.list td {
    padding-bottom: 0;
    text-align: left;
    vertical-align: top;
}
.sort {
    background: #f8f8f8 none repeat scroll 0 0;
    height: 30px;
    margin-bottom: 10px;
    width: 100%;
}
.sort .div1 {
    float: right;
    margin-left: 5px;
    padding-right: 9px;
    padding-top: 6px;
}
.sort .div2 {
    padding-top: 9px;
    text-align: right;
}
.sort select {
    font-size: 11px;
    margin: 0;
    padding: 0;
}
.pagination {
    background: #f8f8f8 none repeat scroll 0 0;
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}
.pagination .links, .pagination .results {
    padding: 7px;
}
.pagination .links {
    float: left;
}
.pagination .links a {
    border: 1px solid #cccccc;
    color: #000000;
    padding: 4px 7px;
    text-decoration: none;
}
.pagination .links b {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #cccccc;
    color: #000000;
    padding: 4px 7px;
    text-decoration: none;
}
.pagination .results {
    float: right;
}
.tabs {
    height: 31px;
    margin-bottom: 0;
    width: 100%;
}
.tabs a {
    background: #ffffff url("../img/tab_3.png") repeat-x scroll 0 0;
    border-color: #dddddd;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin-right: 2px;
    padding: 6px 15px 7px;
    position: relative;
    text-decoration: none;
    top: 1px;
    z-index: 1;
}
.tabs a.selected {
    background: #ffffff url("../img/tab_3.png") repeat-x scroll 0 0;
    border-bottom: 0 none;
    padding-bottom: 8px;
    z-index: 3;
}
.tab_page {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #dddddd;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    z-index: 2;
}
#footer {
    background: rgba(0, 0, 0, 0) url("../img/bg-footer.png") no-repeat scroll center top;
    clear: both;
    color: #fff;
    height: 140px;
    padding-top: 10px;
    width: 100%;
}
#footer a {
    color: #fff;
}
#footer1 {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 1002px;
}
#footer .div1 {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    text-align: left;
}
#footer .div2 {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    text-align: right;
}
#footer .div3 {
    margin-left: 20px;
    text-align: center;
}
#category ul {
    list-style: outside url("../img/bullet_1.png") disc;
    margin-bottom: 0;
    margin-left: 8px;
    margin-top: 0;
    padding-left: 6px;
}
#information ul {
    list-style: outside url("../image/bullet.png") disc;
    margin-bottom: 0;
    margin-left: 8px;
    margin-top: 0;
    padding-left: 12px;
}
.cart {
    border: 1px solid #eeeeee;
    border-collapse: collapse;
    margin-bottom: 10px;
    width: 100%;
}
.cart th {
    background: #eeeeee none repeat scroll 0 0;
    font-weight: normal;
    padding: 5px;
}
.cart td {
    padding: 5px;
}
.tags, .tags a {
    font-size: x-small;
    font-style: italic;
}
#module_cart .middle {
    padding: 5px;
}
.cart_module_total {
    color: #222;
    font-size: 0.9em;
    padding: 0 3px;
}
.cart_remove {
    background: transparent url("../image/list_remove_btn.gif") no-repeat scroll left center;
    cursor: pointer;
    margin-top: 3px;
    padding-right: 10px;
}
.cart_remove_loading {
    background: transparent url("../image/ajax_load.gif") no-repeat scroll 0 0;
    margin-top: 3px;
    padding-right: 10px;
}
.button_add_small, a.button_add_small:visited {
    background: transparent url("../image/button_add_small.png") no-repeat scroll left center;
    cursor: pointer;
    margin-top: 3px;
    padding: 5px;
    text-decoration: none;
}
#content .middle .box {
    float: left;
    margin: 0 6px 10px;
    min-height: 0;
}
#content .middle .box .middle {
    min-height: 0;
    width: 158px;
}
.menu {
    background: rgba(0, 0, 0, 0) url("../img/bg-ul.png") repeat-x scroll 0 0;
    height: 32px;
    position: relative;
    z-index: 100;
}
.menu ul a, .menu ul a:visited {
    color: #fff;
    display: block;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
}
.menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.menu ul li {
    background: transparent url("../img/bg-li.png") no-repeat scroll 10px 0 !important;
    float: left;
    padding-left: 40px;
    position: relative;
    text-transform: uppercase;
}
.menu ul li ul {
    display: none;
}
.menu ul li:hover a {
    color: #ff0;
}
.menu ul li:hover ul {
    display: block;
    left: 0;
    position: absolute;
    top: 31px;
    width: 80px;
}
.menu ul li:hover ul li a.hide {
    background: #6a3 none repeat scroll 0 0;
    color: #555;
}
.menu ul li:hover ul li:hover a.hide {
    color: #000;
}
.menu ul li:hover ul li ul {
    display: none;
}
.menu ul li:hover ul li a {
    background: #fff none repeat scroll 0 0;
    border-top: 1px solid #999;
    color: #000;
    display: block;
    margin-left: -10px;
    opacity: 0.9;
    width: 180px;
}
.menu ul li:hover ul li a:hover {
    color: #003e84;
}
.menu ul li:hover ul li:hover ul {
    display: block;
    left: 105px;
    position: absolute;
    top: 0;
}
.menu ul li:hover ul li:hover ul.left {
    left: -120px;
}
.switcher1 {
}
.boxdv {
    background: rgba(0, 0, 0, 0) url("../image/box_top.png") no-repeat scroll 0 0;
    border: 2px solid #ccc;
    border-radius: 13px;
    margin-bottom: 10px;
}
.boxdv .top {
    color: #fff;
    font-size: 15px;
    padding: 5px 0 5px 12px;
}
.boxdv .top img {
    display: none;
    float: left;
    margin-right: 5px;
}
.boxdv .middle {
    border-radius: 0 0 7px 7px;
    padding: 10px;
}
.boxdv .bottom {
    background: rgba(0, 0, 0, 0) url("../img/bgboxduoi.png") no-repeat scroll 0 0;
    border-bottom: 10px solid #1d55a2;
    border-radius: 0 0 15px 15px;
    height: 0;
}
.box2 {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 15px;
    padding-left: 3px;
    padding-top: 15px;
}
#content .middlehtml1 {
}
#content .topnd .left {
    float: left;
    height: 32px;
}
#content .topnd .right {
    float: right;
    height: 32px;
}
#content .topnd .center {
    background: rgba(0, 0, 0, 0) url("../img/bg-tab-home.png") no-repeat scroll 0 0;
    float: left;
    height: 44px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
#content .topnd h1, .headingnd {
    padding: 6px 0 0 40px;
}
#content h1, .headingnd {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}
#content .middlend {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #097104;
    border-radius: 7px;
    float: left;
    min-height: 30px;
    padding: 10px 10px 1px;
}
#content .bottomnd .left {
}
#content .bottomnd .right {
}
#content .bottomnd .center {
    margin: 0 5px 10px;
}
