
@{
    ViewBag.Title = "FeaturedProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
@using EntitySolution.WebResource
@using EntitySolution.Domain.Common
<script>
    var Langguage = '@Session["Culture"].ToString()';
    $(document).ready(function () {

        $.ajax({
            url: '@Url.Action("LoadAllFeaturedProducts", "Home")',
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            dataType: "json",
            data: {},
            success: function (data) {
                $("#ContactContent").html("");
                var gridAllItemHtml = "";
                var isFist = false;
                $.each(data.ItemInCategory, function (index, item) {
                    gridAllItemHtml += "<div class=\"top \">";
                    gridAllItemHtml += "<div class=\"left \"></div>";
                    gridAllItemHtml += "<div class=\"right \"></div>";
                    isFist = false;
                    var indexTotal = 0;
                    var numberRow = 1;
                    $.each(item, function (ix, im) {
                        indexTotal++;
                        var ItemName = "";
                        if (Langguage === "vi-VN") {
                            ItemName = im.ItemName;
                        }
                        else {
                            ItemName = im.ItemName2;
                        }

                        if (!isFist) {
                            gridAllItemHtml += "<div class=\"center \"> <h1>" + im.CategoryName + " </h1>";
                            gridAllItemHtml += "</div></div>";

                            gridAllItemHtml += "<div class=\"special\" style=\"text-align: left;\" >";
                            gridAllItemHtml += "<table class=\"list\">";
                            gridAllItemHtml += "<tbody><tr>";
                            isFist = true;
                        }

                        gridAllItemHtml += "<td style=\"width: 15%;\">"
                        gridAllItemHtml += "<a href=\"javascript:ShowItemDetail('" + im.ItemID + "')\">";
                        gridAllItemHtml += "<img src=\"" + '@Url.Content(Var.UrlUploadItemImage)' + im.ItemImageURL + "\" class=\"img-responsive\" style=\"height: 100px; width: 100px;border: 1px solid #DDD;padding: 0px;margin-right: 10px;background: white;\"> ";
                        gridAllItemHtml += "</a><br></td> ";

                        gridAllItemHtml += "<td>"
                        gridAllItemHtml += "<a href=\"javascript:ShowItemDetail('" + im.ItemID + "')\"> <b>" + ItemName + "</b></a><br></td>";

                        if (indexTotal % 2 == 0) {
                            numberRow++;
                            gridAllItemHtml += "</tr><tr>";
                        }


                    });

                    gridAllItemHtml += "</tr>";
                    gridAllItemHtml += "</tbody></table></div>";
                });


                $("#ContactContent").html(gridAllItemHtml);

            }
        });


    });

</script>


<div id="ContactContent">
    
</div>

