@{
    ViewBag.Title = "Home Page";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EntitySolution.Domain.Common
<script>

    $(document).ready(function () {

    });

</script>

<div class="menu-content-main col-md-12 col-lg-12 padd0">
    <ul class="nav nav-tabs nav-justified" id="lstCategoryPanelTop">
        <li class="active"><a data-toggle="tab" href="#menu1">CONTAINER VĂN PHÒNG</a></li>
        <li><a data-toggle="tab" href="#menu2">CONTAINER KHÔ</a></li>
        <li><a data-toggle="tab" href="#menu3">CONTAINER LẠNH</a></li>
        <li><a data-toggle="tab" href="#menu5">CONTAINER TOILET</a></li>         
    </ul>
</div>
<div class="col-md-12 col-lg-12 padd0">
    <div class="tab-content" id="lstAllItem">

    </div>

    @*<div class="col-md-12 col-lg-12 text-center padd0">
        <ul class="pagination mt50" id="ulPaging">
            <li>
                <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span> </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span> </a></li>
        </ul>
    </div>*@

</div>
