@{
    ViewBag.Title = "Home Page";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EntitySolution.Domain.Common
<script>
    
    $(document).ready(function () {
      
    });
        
</script>

<div class="menu-content-main col-md-12 col-lg-12 padd0">
    <ul class="nav nav-tabs nav-justified" id="lstCategoryPanelTop">
        <li class="active"><a data-toggle="tab" href="#menu1">CONTAINER VĂN PHÒNG</a></li>
        <li><a data-toggle="tab" href="#menu2">CONTAINER KHÔ</a></li>
        <li><a data-toggle="tab" href="#menu3">CONTAINER LẠNH</a></li>
        <li><a data-toggle="tab" href="#menu5">CONTAINER TOILET</a></li>
    </ul>
</div>
<div class="col-md-12 col-lg-12 padd0">
    <div class="tab-content" id="lstAllItem">
        <div id="menu1" class="tab-pane fade in active">
            <div class="col-md-12 col-lg-12 padd0" id="row11">
                //
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/img-container.png" class="img-responsive" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i>
                                <span class="small day-post">239 Days</span>
                                <span class="small time-post">13:13:11</span>
                            </p>
                        </div>
                    </div>
                </div>
                //
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/con-kho.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/conkho2.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="col-md-12 col-lg-12 padd0" id="row12">
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/img-container.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/con-kho.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/conkho2.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 padd0" id="row13">
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/img-container.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/con-kho.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mt15">
                    <div class="box-show-product col-md-12 col-lg-12 padd0">
                        <div class="box-img col-md-12 col-lg-12">
                            <a href="#">
                                <img src="images/conkho2.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-12 padd0">
                            <p class="box-info-danhgia">
                                Container Khô
                            </p>
                            <p class="box-star">
                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o">
                                </i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <p class="box-datetime">
                                <i class="fa fa-clock-o"></i><span class="small day-post">239 Days</span><span class="small time-post">
                                    13:13:11
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div id="menu2" class="tab-pane fade">
           
        </div>
        <div id="menu3" class="tab-pane fade">
           
        </div>
        <div id="menu5" class="tab-pane fade">
          
        </div>

        <div class="col-md-12 col-lg-12 text-center padd0">
            <ul class="pagination mt50">
                <li>
                    <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span> </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span> </a></li>
            </ul>
        </div>
    </div>
</div>
