
@{
    ViewBag.Title = "NewsDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<div class="col-md-12 col-lg-12 padd0">
    <p class="title-post">
        Bảo hiểm container 2015
    </p>
</div>
<div class="col-md-12 col-lg-12 padd0">
    <p class="date-post">
        19/11/2015
    </p>
</div>
<div class="col-md-12 col-lg-12 padd0">
    <div class="content-subpost">
        <p>
            <b>ĐIỀU KHOẢN CONTAINER THỜI HẠN</b><br /><br />
            Đơn bảo hiểm này tuân theo luật pháp và tập quán anh.
            <br />
            <br />
            Những rủi ro được bảo hiểm
            <br />
            1.Hợp đồng bảo hiểm này bảo hiểm mọi rủi ro về mất mát,hư hỏng đối với đối tượng
            được bảo hiểm, trừ những điểm được qui định trong các điều khoản 4, 5, 6, 7 và 8
            dưới đây.<br />
            <br />
            2.Hợp đồng bảo hiểm container này bảo hiểm cho các chi phí đóng góp tổn thất chung
            và các chi phí cứu hộ đã chi ra nhằm tránh hoặc liên quan đến việc tránh tổn thất
            xảy ra do bất kỳ nguyên nhân trừ những điểm đã được loại trừ trong điều khoản 4,
            5, 6, 7 và 8 hoặc những điều khác trongtrong hợp đồng bảo hiểm này, các chi phí
            này được tính toán và/hoặc được xác định theo hợp đồng vận chuyển và/hoặc luật pháp
            và tập quán hiện hành.
        </p>
        <p class="text-center">
            <img src="images/5.jpg" class="img-responsive80 " alt="" />
        </p>
        <br />
        <p>
            3. Hợp đồng này được mở rộng để bồi thường cho người được bảo hiểm phần trách nhiệm
            theo điều khoản “tàu đâm va nhau hai bên cùng có lỗi” trong hợp đồng vận chuyển
            liên quan tới tổn thất thuộc phạm vi bồi thường của hợp đồng bảo hiểm này. Trường
            hợp Chủ tàu dựa vào điều khoản này để khiếu nại thì Người được bảo hiểm phải thông
            báo cho Người bảo hiểm là người có quyền bảo vệ Người được bảo hiểm đối với khiếu
            nại đó và có trách nhiệm đối với mọi phí tổn.
            <br />
            <br />
            4. Người bảo hiểm container chỉ có trách nhiệm với tổn thất, tổn hại đối với máy
            móc của container theo Điều 1 và 2 trên đây 4.1 Khi Container bị tổn thất toàn bộ
            (thực tế hoặc ước tính) 4.2 Khi tổn thất tổn hại ấy do những nguyên nhân: 4.2.1
            Cháy, nổ bắt nguồn từ bên ngoài máy móc 4.2.2 Tàu hoặc phương tiện vận chuyển bị
            đắm, chìm mắc cạn hoặc lật úp 4.2.3 Phương tiện vận tải đường bộ bị trạt bánh hoặc
            lật úp. 4.2.4 Phương tiện vận tải đâm va với bất kể vật thể gì bên ngoài không kể
            nước. 4.2.5 Hy sinh tổn thất chung.
        </p>
        <p>
            5. Hợp đồng này được mở rộng để bồi thường cho người được bảo hiểm phần trách nhiệm
            theo điều khoản “tàu đâm va nhau hai bên cùng có lỗi” trong hợp đồng vận chuyển
            liên quan tới tổn thất thuộc phạm vi bồi thường của hợp đồng bảo hiểm này. Trường
            hợp Chủ tàu dựa vào điều khoản này để khiếu nại thì Người được bảo hiểm phải thông
            báo cho Người bảo hiểm là người có quyền bảo vệ Người được bảo hiểm đối với khiếu
            nại đó và có trách nhiệm đối với mọi phí tổn.
            <br />
            <br />
            6. Người bảo hiểm container chỉ có trách nhiệm với tổn thất, tổn hại đối với máy
            móc của container theo Điều 1 và 2 trên đây 4.1 Khi Container bị tổn thất toàn bộ
            (thực tế hoặc ước tính) 4.2 Khi tổn thất tổn hại ấy do những nguyên nhân: 4.2.1
            Cháy, nổ bắt nguồn từ bên ngoài máy móc 4.2.2 Tàu hoặc phương tiện vận chuyển bị
            đắm, chìm mắc cạn hoặc lật úp 4.2.3 Phương tiện vận tải đường bộ bị trạt bánh hoặc
            lật úp. 4.2.4 Phương tiện vận tải đâm va với bất kể vật thể gì bên ngoài không kể
            nước. 4.2.5 Hy sinh tổn thất chung.
        </p>
    </div>
</div>
<div class="col-md-12 col-lg-12 othernews">
    <h2>
        Tin khác
    </h2>
    <ul>
        <li>
            <a title="bảo hiểm cháy nổ nhà máy" style="text-decoration: none;" href="#">
                bảo hiểm cháy nổ nhà máy (18.11.2015)
            </a>
        </li>
        <li>
            <a title="Bảo hiểm trách nhiệm khám chữa bệnh phần 2" style="text-decoration: none;"
               href="#">
                Bảo hiểm trách
                nhiệm khám chữa bệnh phần 2 (17.11.2015)
            </a>
        </li>
        <li>
            <a title="Bảo hiểm trách nhiệm khám chữa bệnh" style="text-decoration: none;"
               href="#">
                Bảo hiểm trách nhiệm
                khám chữa bệnh (16.11.2015)
            </a>
        </li>
        <li>
            <a title="tin tức bảo hiểm pjico 15.11.2015" style="text-decoration: none;" href="#">
                tin tức bảo hiểm pjico 15.11.2015 (15.11.2015)
            </a>
        </li>
        <li>
            <a title="Bảo hiểm tín dụng thương mại P2" style="text-decoration: none;" href="#">
                Bảo hiểm tín dụng thương mại P2 (14.11.2015)
            </a>
        </li>
    </ul>
</div>
